<div class="navbar-helper">
    <div class="row-fluid">
        <!--panel site-name-->
		<%= render 'layouts/header/sitelogo' %>
        <!--/panel name-->

        <div class="span6">
            <!--panel search-->
			<%= render 'layouts/header/search' %>
        </div>
        <div class="span4">
            <!--panel button ext-->
			<div class="panel-ext">
				<%= render 'layouts/header/button' %>
                <div class="btn-group user-group">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img class="corner-all" align="middle" src="img/user-thumb.jpg" title="John Doe" alt="john doe" /> <!--this for display on PC device-->
                        <button class="btn btn-small btn-inverse">John Doe</button> <!--this for display on tablet and phone device-->
                    </a>
                    <ul class="dropdown-menu dropdown-user" role="menu" aria-labelledby="dLabel">
                        <li>
							<div class="media">
							    <a class="pull-left" href="#">
							        <img class="img-circle" src="img/user.jpg" title="profile" alt="profile" />
							    </a>
							    <div class="media-body description">
									<% if user_signed_in? %>
									<p><strong><%= link_to (current_user.name), users_path, :placeholder => 'Site controllar' %></strong></p>
									<p class="muted"><%= link_to (current_user.email), users_path %></p>
									<p class="action"><a class="link" href="#">Activity</a> - <a class="link" href="#">Setting</a></p>
									<a href="bonus-page/resume/index.html" class="btn btn-primary btn-small btn-block">View Profile</a>
									<% end %>
						        </div>
						    </div>
						</li>
						<li class="dropdown-footer">
						    <div>
							<% if user_signed_in? %>
								<a class="btn btn-small" <%= link_to ('Logout'), destroy_user_session_path, :method => "delete" %></a>
							<% else %>
								<a class="btn btn-small" <%= link_to('Login', new_user_session_path)  %></a>
								<a class="btn btn-small pull-right" <%= link_to('Sign up', new_user_registration_path)  %></a>
							<% end %>
							</div>
						</li>
					</ul>
				</div>
			</div><!--panel button ext-->
		</div>
	</div><!--/row-fluid-->
</div><!--/nav bar helper-->
